<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Soy un titulo</h1>
    <p>Mi nombre es: {{nombre}}</p>
    <p>Mi apellido es: {{apellido}}</p>
    <p>Mi lista de notas es: {{lista_de_notas}}</p>
    {% for i in lista_de_notas%}
    
        {% if i < 4%}
            <p>Nota mala: {{i}}</p>
        {% else%}
            <p>Nota buena: {{i}}</p>
        {% endif %}
        
    {% endfor %}
    
</body>
</html>